@import "./variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: var(--text-xl);
  font-weight: 700;
}

h2 {
  font-size: var(--text-md);
  font-weight: 600;
}

h3 {
  font-size: var(--text-sm);
  font-weight: 600;
}

a {
  font-size: var(--text-xs);
  font-weight: 600;
}

button,
li,
a {
  border-radius: var(--border-radius-full);
}

button {
  font-size: var(--text-md);
  font-weight: 500;
}

p {
  color: var(--color-off-text);
  font-size: var(--text-xs);
}
