@use "../base/mixins.scss" as m;
@import "../base/variables.scss";
@import "../layout/nav.scss";
@import "../layout/sidebar.scss";
@import "../layout/footer.scss";
@import "../components/link.scss";

// hero background shape
.background {
  position: absolute;
  width: 100%;
  z-index: -10;
}

.hero {
  padding: 0 var(--space-md);

  @media only screen and (min-width: "1175px") {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  &__image-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
  }

  &__image {
    display: none;
    visibility: none;

    @media only screen and (min-width: "1175px") {
      display: inline-block;
      margin-right: var(--space-sm);
      margin-left: var(--space-xl);
      visibility: visible;
    }
  }

  &__content {
    margin: 0 var(--space-lg);
    padding-top: var(--space-xl);
  }

  &__heading {
    margin-bottom: var(--space-md);

    @media only screen and (min-width: "768px") {
      width: 85%;
    }
  }

  &__description {
    margin-bottom: var(--space-xl);

    @media only screen and (min-width: "768px") {
      width: 60%;
    }
  }

  &__cta {
    padding: var(--space-sm) var(--space-xl);
    text-transform: capitalize;

    &:first-of-type {
      @include m.link-primary;
      margin-right: var(--space-sm);

      &:hover {
        @include m.hover-primary;
      }
    }

    &:last-of-type {
      @include m.link-secondary;
      display: none;
      visibility: hidden;

      &:hover {
        @include m.hover-secondary;
      }

      @media only screen and (min-width: "599px") {
        display: inline-block;
        visibility: visible;
      }
    }
  }
}

.main {
  margin-top: var(--space-xl);
  position: relative;
}

.service {
  position: relative;
  padding-bottom: var(--space-3xl);

  &__wrapper {
    height: 500px;
    position: relative;

    @media only screen and (min-width: "1600px") {
      height: 800px;
    }

    &:first-of-type,
    &:last-of-type {
      text-align: start;
    }
  }

  &__article {
    align-content: center;
    display: grid;
    height: 100%;
    padding: 0 var(--space-md);
    width: 90%;

    @media only screen and (min-width: "786px") {
      width: 60%;
      padding: 0 var(--space-xl);
    }
  }

  .middle-article {
    margin-left: auto;
  }

  &__sub-header {
    color: var(--color-primary);
    font-size: var(--text-xs);
    margin-bottom: var(--space-sm);
  }

  &__main-header {
    font-size: var(--text-lg);
    margin-bottom: var(--space-md);
  }

  &__background-wrapper {
    position: absolute;
    width: 50%;
    z-index: -10;
  }

  &__background {
    @media only screen and (min-width: "1600px") {
      height: 800px;
    }
  }

  .background-2 {
    @media only screen and (min-width: "1600px") {
      height: 800px;
    }
  }

  .bg-2 {
    right: 0;
    transform: scaleX(-1);
  }
}

// background 2
.background__wrapper {
  bottom: -5%;
  right: 0;
  margin-left: auto;
  position: absolute;
  width: 50%;
  z-index: -10;
}

// pricing section
.pricing {
  background-color: var(--color-faded2);
  padding-left: var(--space-md);
  padding-top: var(--space-md);

  @media only screen and (min-width: "768px") {
    padding-left: var(--space-xl);
  }

  &__article {
    @media only screen and (min-width: "768px") {
      max-width: 75%;
    }
  }

  &__sub-header {
    color: var(--color-primary);
    font-size: var(--text-xs);
    margin-bottom: var(--space-sm);
  }

  &__main-header {
    font-size: var(--text-lg);
    margin-bottom: var(--space-md);
  }

  &__description {
    margin-bottom: var(--space-xl);
  }
}

// price-cards
.price-cards {
  position: relative;

  &__bg1,
  &__bg2 {
    background-color: var(--color-faded2);
    height: 50%;
    left: 0;
    right: 0;
    padding-top: var(--space-2xl);
    position: absolute;
    top: 0;
    z-index: -10;
  }

  &__bg1 {
    padding-top: var(--space-2xl);
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--space-2xl) var(--space-xl) var(--space-2xl);
  }

  &__card-header,
  &__tier-name,
  &__tier-price {
    font-size: var(--text-sm);
  }

  &__card-header {
    margin-bottom: var(--space-lg);
  }

  &__tier {
    display: grid;
    place-content: center;
    padding: var(--space-sm) 0;
  }

  &__tier-name,
  &__tier-price,
  &__card-header {
    text-align: center;
  }

  &--bold {
    font-weight: 700;
  }

  &__tier-name {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__tier-price,
  &__features {
    margin-bottom: var(--space-sm);
  }

  &__features {
    list-style-type: circle;
    margin: auto;
    width: 70%;
  }

  &__feature {
    font-size: var(--text-xs);
    padding-bottom: var(--space-lg);
    text-transform: capitalize;
  }

  &__link {
    display: block;
    font-size: var(--text-xs);
    font-weight: 600;
    margin: var(--space-lg) auto;
    padding: var(--space-sm) var(--space-lg);
    text-align: center;
    text-transform: uppercase;
    width: 85%;
  }

  &__card {
    border-radius: var(--border-radius-full);
    padding: var(--space-sm);
  }

  .tier-pro {
    flex: 1 1 35%;

    .price-cards__card {
      background-color: var(--color-bg);
      border: var(--border-thick);
      position: relative;
      width: 250px;

      @media only screen and (min-width: "350px") {
        width: 320px;
      }

      @media only screen and (min-width: "1800px") {
        width: 600px;
      }
    }

    .price-cards__star {
      position: absolute;
      top: -2.4rem;
      right: 0rem;

      @media only screen and (min-width: "420px") {
        right: -2.4rem;
      }
    }

    .price-cards__tier-name {
      color: var(--color-primary);
      font-size: 2em;
    }

    .price-cards__tier-price {
      font-size: 1.5em;
      margin-bottom: var(--space-lg);
    }

    .price-cards__link {
      background-color: var(--color-primary);
      color: var(--color-bg);
      @include m.link-primary;
      &:hover {
        @include m.hover-primary;
      }
    }
  }

  .tier-basic {
    flex: 1 1 20%;

    .price-cards__card {
      background-color: var(--color-faded);
      width: 275px;

      @media only screen and (min-width: "1800px") {
        width: 500px;
      }
    }

    .price-cards__link {
      @include m.link-primary;
      &:hover {
        @include m.hover-primary;
      }
    }
  }

  .tier-enterprise {
    flex: 1 1 20%;

    .price-cards__card {
      background-color: var(--color-primary);
      color: var(--color-bg);
      width: 275px;

      @media only screen and (min-width: "1800px") {
        width: 500px;
      }
    }

    .price-cards__link {
      border: var(--border-thin);
      @include m.link-secondary;
      &:hover {
        @include m.hover-secondary;
      }
    }

    .price-cards__tier-price,
    .price-cards__tier-name {
      color: var(--color-bg);
    }
  }
}

// final cta section

.review {
  &__wrapper {
    align-content: center;
    background-color: var(--color-primary);
    display: grid;
    row-gap: var(--space-xl);
    padding: var(--space-xl) var(--space-sm) var(--space-lg);
    text-align: center;
    @media only screen and (min-width: "1600px") {
      padding: var(--space-2xl) 0;
    }
  }

  &__header {
    color: var(--color-bg);
    font-size: var(--text-xl);
    @media only screen and (min-width: "1600px") {
      margin: auto;
      width: 75%;
    }
  }

  &__description {
    color: var(--color-bg);
    margin: auto;
    width: 90%;

    @media only screen and (min-width: "768px") {
      width: 65%;
    }
  }

  &__link {
    @include m.link-secondary;
    display: block;
    margin: auto;
    padding: var(--space-sm) var(--space-xl);
    width: max-content;
    &:hover {
      @include m.hover-secondary;
    }
  }

  &-me {
    position: relative;
    overflow-x: hidden;

    &__wrapper {
      margin-bottom: var(--space-2xl);
    }

    &__name {
      color: var(--color-bg);
      padding: var(--space-xl) 0;
      text-align: center;

      @media only screen and (min-width: "900px") {
        left: var(--space-xl);
        padding: 0;
        position: relative;
        text-align: left;
        top: var(--space-2xl);
      }
    }

    &__name-sml {
      font-size: var(--text-xs);
      font-weight: 400;
    }

    &__bg1,
    &__bg2 {
      height: 50%;
      left: 0;
      right: 0;
      position: absolute;
      z-index: -10;
    }

    &__bg1 {
      background-color: var(--color-primary);
      top: 0;
    }

    &__bg2 {
      background-color: var(--color-bg);
      bottom: 0;
    }

    &__image-wrapper {
      height: 225px;
      margin: auto;
      position: relative;
      top: 1rem;
      width: 225px;

      @media only screen and (min-width: "900px") {
        left: 25%;
        top: 4.5rem;
        margin: 0;
      }

      @media only screen and (min-width: "1600px") {
        height: 400px;
        width: 400px;
      }
    }

    &__quote {
      font-style: italic;
      margin-top: 1rem;
      padding: var(--space-lg) var(--space-md);
      text-align: center;

      @media only screen and (min-width: "900px") {
        margin-top: 0;
        margin-left: auto;
        text-align: left;
        width: 52%;
      }
    }
  }
}

.link-top {
  margin: auto auto var(--space-2xl);
}
