@import "../base/variables.scss";

// footer

.footer {
  background-color: var(--color-faded2);
  display: grid;
  font-size: var(--text-xs);
  grid-template-columns: repeat(5, 1fr);
  height: 250px;
  padding: var(--space-lg);
  position: absolute;
  width: 100%;

  &__brand {
    display: grid;
    font-weight: 600;
    grid-column: span 5;
    grid-row: 2;
    font-size: var(--text-xs);
    margin: var(--space-lg) 0;

    @media only screen and (min-width: "768px") {
      grid-column: span 1;
      grid-row: 1;
      margin-bottom: 0;
    }
  }

  &__brand-text {
    align-self: flex-end;
    font-size: 0.7em;
  }

  &__items {
    align-self: center;
    grid-column: span 3;
    grid-row: 1;

    @media only screen and (min-width: "768px") {
      grid-column: span 1;
    }
  }

  &__item {
    color: var(--color-faded2);
    content: "*";
    margin: var(--space-sm) 0;
  }

  &__item-header {
    color: var(--color-text);
    font-size: 0.9em;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__link {
    color: var(--color-text);
    font-weight: 400;
    font-size: 0.8em;
    text-transform: capitalize;
  }

  &__illustration {
    display: none;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 10%;

    @media only screen and (min-width: "900px") {
      display: block;
      visibility: visible;
    }
  }
}
