@use "../base/mixins.scss" as m;
@import "../base/variables.scss";

// mobile nav
.sidebar {
  background-color: var(--color-primary);
  padding: var(--space-sm) 0;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  transform: translateY(-150%);
  transition: transform 800ms ease;
  z-index: -10;

  @media only screen and (min-width: "768px") {
    display: none;
    visibility: hidden;
  }

  &__items {
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    width: 40%;
  }

  &__item {
    @include m.link-secondary;
    color: var(--color-primary);
    content: "*";
    margin: var(--space-sm) 0;
    opacity: 0;
    visibility: hidden;

    &:hover {
      @include m.hover-secondary;
    }

    &.open {
      display: block;
      opacity: 1;
      transition: all 250ms ease-in-out 750ms;
      visibility: visible;
    }
  }

  &__link {
    color: var(--color-text);
    display: block;
    padding: var(--space-xs) var(--space-md);

    &:hover {
      @include m.hover-secondary;
    }
  }
}
