:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary);
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: var(--text-xl);
  font-weight: 700;
}

h2 {
  font-size: var(--text-md);
  font-weight: 600;
}

h3 {
  font-size: var(--text-sm);
  font-weight: 600;
}

a {
  font-size: var(--text-xs);
  font-weight: 600;
}

button,
li,
a {
  border-radius: var(--border-radius-full);
}

button {
  font-size: var(--text-md);
  font-weight: 500;
}

p {
  color: var(--color-off-text);
  font-size: var(--text-xs);
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  padding: var(--space-xs) var(--space-lg);
  position: relative;
  z-index: 10;
}
@media only screen and (min-width: 1150px) {
  .nav {
    padding: var(--space-xs) var(--space-xl);
  }
}
@media only screen and (min-width: 1600px) {
  .nav {
    padding: var(--space-md) var(--space-xl);
  }
}
.nav__logo-text, .nav__logo-image {
  display: block;
}
.nav__logo-image {
  margin-right: var(--space-xs);
}
.nav__logo {
  color: var(--color-bg);
  display: flex;
  align-items: center;
}
.nav__logo:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.nav__logo, .nav__link {
  padding: var(--space-xs) var(--space-sm);
}
.nav__items {
  display: none;
  margin-left: auto;
  visibility: hidden;
}
@media only screen and (min-width: 850px) {
  .nav__items {
    display: flex;
    visibility: visible;
  }
}
.nav__item {
  color: var(--color-primary);
  content: "*";
}
.nav__item__link {
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .nav__item__link {
    visibility: visible;
  }
}
.nav__item:not(:last-child):hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.nav__item:not(:last-child):hover .nav__link {
  color: var(--color-off-bg);
}
.nav__item:not(:first-child) {
  margin-left: var(--space-xl);
}
.nav__item:last-child {
  background-color: var(--color-bg);
}
.nav__item:last-child:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.nav__item:last-child:hover .nav__link {
  color: var(--color-primary);
}
.nav__item .link-login {
  color: var(--color-bg);
}
.nav__item .link-account {
  color: var(--color-secondary);
}
.nav__link {
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}
.nav__mobile {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1.6rem;
  margin-left: auto;
  margin-right: var(--space-sm);
  position: relative;
  width: 1.6rem;
  visibility: visible;
}
@media only screen and (min-width: 850px) {
  .nav__mobile {
    display: none;
    visibility: hidden;
  }
}
.nav__mobile--span {
  background-color: var(--color-bg);
  display: block;
  height: 0.1rem;
  width: 100%;
}
.nav__mobile--check {
  cursor: pointer;
  height: 1.6rem;
  right: 1.9rem;
  top: 0.8rem;
  position: absolute;
  opacity: 0;
  width: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .nav__mobile--check {
    display: none;
    visibility: hidden;
  }
}
.nav__mobile--check:checked ~ .sidebar {
  transform: translateY(0%);
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  background-color: var(--color-primary);
  padding: var(--space-sm) 0;
  position: absolute;
  top: 3.9rem;
  left: 0;
  right: 0;
  transform: translateY(-150%);
  transition: transform 800ms ease;
  z-index: -10;
}
@media only screen and (min-width: 768px) {
  .sidebar {
    display: none;
    visibility: hidden;
  }
}
.sidebar__items {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  width: 40%;
}
.sidebar__item {
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
  color: var(--color-primary);
  content: "*";
  margin: var(--space-sm) 0;
  opacity: 0;
  visibility: hidden;
}
.sidebar__item:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.sidebar__item.open {
  display: block;
  opacity: 1;
  transition: all 250ms ease-in-out 750ms;
  visibility: visible;
}
.sidebar__link {
  color: var(--color-text);
  display: block;
  padding: var(--space-xs) var(--space-lg);
}
.sidebar__link:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(265, 100%, 96%);
  --color-faded2: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 0.8rem;
  --text-scale: 1.3;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 2)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 2.4)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.8)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 3.5)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 5)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer {
  background-color: var(--color-faded2);
  display: grid;
  font-size: var(--text-xs);
  grid-template-columns: repeat(5, 1fr);
  padding: var(--space-lg);
  position: absolute;
  width: 100%;
}
.footer__brand {
  display: grid;
  font-weight: 600;
  grid-column: span 5;
  grid-row: 2;
  font-size: var(--text-xs);
  margin: var(--space-lg) 0;
}
@media only screen and (min-width: 768px) {
  .footer__brand {
    grid-column: span 1;
    grid-row: 1;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .footer__brand {
    padding: var(--space-xl);
  }
}
.footer__brand-text {
  align-self: flex-end;
  font-size: 0.7em;
}
.footer__items {
  align-self: center;
  grid-column: span 3;
  grid-row: 1;
}
@media only screen and (min-width: 768px) {
  .footer__items {
    grid-column: span 1;
  }
}
.footer__item {
  color: var(--color-faded2);
  content: "*";
  margin: var(--space-sm) 0;
}
.footer__item-header {
  color: var(--color-text);
  font-size: 0.9em;
  font-weight: 600;
  text-transform: capitalize;
}
.footer__link {
  color: var(--color-text);
  font-weight: 400;
  font-size: 0.8em;
  text-transform: capitalize;
}
.footer__illustration {
  bottom: 0;
  display: none;
  position: absolute;
  right: 5%;
  visibility: hidden;
  width: 300px;
}
@media only screen and (min-width: 900px) {
  .footer__illustration {
    display: block;
    visibility: visible;
  }
}
@media only screen and (min-width: 1800px) {
  .footer__illustration {
    width: 550px;
    right: 0;
  }
}

.link {
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
  display: block;
  padding: var(--space-sm) var(--space-xl);
  text-transform: capitalize;
  width: max-content;
}
.link:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}

.background {
  position: absolute;
  width: 100%;
  z-index: -10;
}

.hero {
  padding: 0 var(--space-md);
}
@media only screen and (min-width: 1175px) {
  .hero {
    align-items: center;
    display: grid;
    grid-template-columns: 45% 55%;
  }
}
.hero__image-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}
.hero__image {
  display: none;
  visibility: none;
}
@media only screen and (min-width: 1175px) {
  .hero__image {
    display: inline-block;
    margin-right: var(--space-sm);
    margin-left: var(--space-xl);
    visibility: visible;
  }
}
.hero__content {
  padding-top: var(--space-xl);
  margin: 0 var(--space-lg);
}
@media only screen and (min-width: 1175px) {
  .hero__content {
    padding-top: 0;
  }
}
.hero__heading {
  margin-bottom: var(--space-xs);
}
@media only screen and (min-width: 768px) {
  .hero__heading {
    width: 85%;
  }
}
.hero__description {
  margin-bottom: var(--space-xl);
}
@media only screen and (min-width: 768px) {
  .hero__description {
    width: 60%;
  }
}
.hero__cta {
  padding: var(--space-sm) var(--space-xl);
  text-transform: capitalize;
}
.hero__cta:first-of-type {
  background-color: var(--color-primary);
  border: var(--border-thin);
  color: var(--color-bg);
  margin-right: var(--space-sm);
}
.hero__cta:first-of-type:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.hero__cta:last-of-type {
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
  display: none;
  visibility: hidden;
}
.hero__cta:last-of-type:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
@media only screen and (min-width: 599px) {
  .hero__cta:last-of-type {
    display: inline-block;
    visibility: visible;
  }
}

.main {
  margin-top: var(--space-xl);
  position: relative;
}

.service {
  position: relative;
  padding-bottom: var(--space-3xl);
}
.service__wrapper {
  height: 500px;
  position: relative;
}
@media only screen and (min-width: 1600px) {
  .service__wrapper {
    height: 900px;
  }
}
@media only screen and (min-width: 2000px) {
  .service__wrapper {
    height: 1150px;
  }
}
.service__wrapper:first-of-type, .service__wrapper:last-of-type {
  text-align: start;
}
.service__feature-wrapper {
  display: flex;
  height: 100%;
}
.service__image-wrapper {
  display: none;
  height: 100%;
  padding: var(--space-xl);
}
@media only screen and (min-width: 900px) {
  .service__image-wrapper {
    display: block;
  }
}
.service__image {
  height: 100%;
}
.service__article {
  align-content: center;
  display: grid;
  margin: 0 var(--space-lg);
  padding: 0 var(--space-md);
  width: 90%;
}
@media only screen and (min-width: 900px) {
  .service__article {
    width: 60%;
    padding: 0 var(--space-xl);
  }
}
.service .middle-article {
  margin-left: auto;
}
.service__sub-header {
  color: var(--color-primary);
  font-size: var(--text-xs);
  margin-bottom: var(--space-sm);
}
.service__main-header {
  font-size: var(--text-lg);
  margin-bottom: var(--space-md);
}
.service__background-wrapper {
  position: absolute;
  z-index: -10;
}
@media only screen and (min-width: 900px) {
  .service__background-wrapper {
    width: 50%;
  }
}
@media only screen and (min-width: 1600px) {
  .service__background {
    height: 800px;
  }
}
@media only screen and (min-width: 1600px) {
  .service .background-2 {
    height: 800px;
  }
}
.service .bg-2 {
  right: 0;
  transform: scaleX(-1);
}

.background__wrapper {
  bottom: -5%;
  right: 0;
  margin-left: auto;
  position: absolute;
  width: 50%;
  z-index: -10;
}

.pricing {
  background-color: var(--color-faded2);
  padding-left: var(--space-md);
  padding-top: var(--space-md);
}
@media only screen and (min-width: 768px) {
  .pricing {
    padding-left: var(--space-xl);
  }
}
@media only screen and (min-width: 1600px) {
  .pricing {
    padding-top: var(--space-2xl);
  }
}
@media only screen and (min-width: 768px) {
  .pricing__article {
    max-width: 75%;
  }
}
.pricing__sub-header {
  color: var(--color-primary);
  font-size: var(--text-xs);
  margin-bottom: var(--space-sm);
}
.pricing__main-header {
  font-size: var(--text-lg);
  margin-bottom: var(--space-md);
}
.pricing__description {
  margin-bottom: var(--space-xl);
}

.price-cards {
  position: relative;
}
.price-cards__bg1, .price-cards__bg2 {
  background-color: var(--color-faded2);
  height: 50%;
  left: 0;
  right: 0;
  padding-top: var(--space-2xl);
  position: absolute;
  top: 0;
  z-index: -10;
}
.price-cards__bg1 {
  padding-top: var(--space-2xl);
}
.price-cards__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--space-2xl) var(--space-xl) var(--space-2xl);
}
.price-cards__card-header, .price-cards__tier-name, .price-cards__tier-price {
  font-size: var(--text-sm);
}
.price-cards__card-header {
  margin-bottom: var(--space-lg);
}
.price-cards__tier {
  display: grid;
  place-content: center;
  padding: var(--space-sm) 0;
}
.price-cards__tier-name, .price-cards__tier-price, .price-cards__card-header {
  text-align: center;
}
.price-cards--bold {
  font-weight: 700;
}
.price-cards__tier-name {
  font-weight: 700;
  text-transform: uppercase;
}
.price-cards__tier-price, .price-cards__features {
  margin-bottom: var(--space-sm);
}
.price-cards__features {
  list-style-type: circle;
  margin: auto;
  width: 70%;
}
.price-cards__feature {
  font-size: var(--text-xs);
  padding-bottom: var(--space-lg);
  text-transform: capitalize;
}
.price-cards__link {
  display: block;
  font-size: var(--text-xs);
  font-weight: 600;
  margin: var(--space-lg) auto;
  padding: var(--space-sm) var(--space-lg);
  text-align: center;
  text-transform: uppercase;
  width: 85%;
}
.price-cards__card {
  border-radius: var(--border-radius-full);
  padding: var(--space-sm);
}
.price-cards .tier-pro {
  flex: 1 1 35%;
}
.price-cards .tier-pro .price-cards__card {
  background-color: var(--color-bg);
  border: var(--border-thick);
  position: relative;
  width: 250px;
}
@media only screen and (min-width: 350px) {
  .price-cards .tier-pro .price-cards__card {
    width: 320px;
  }
}
@media only screen and (min-width: 1800px) {
  .price-cards .tier-pro .price-cards__card {
    width: 600px;
  }
}
.price-cards .tier-pro .price-cards__star {
  position: absolute;
  top: -2.4rem;
  right: 0rem;
}
@media only screen and (min-width: 420px) {
  .price-cards .tier-pro .price-cards__star {
    right: -2.4rem;
  }
}
.price-cards .tier-pro .price-cards__tier-name {
  color: var(--color-primary);
  font-size: 2em;
}
.price-cards .tier-pro .price-cards__tier-price {
  font-size: 1.5em;
  margin-bottom: var(--space-lg);
}
.price-cards .tier-pro .price-cards__link {
  background-color: var(--color-primary);
  color: var(--color-bg);
  background-color: var(--color-primary);
  border: var(--border-thin);
  color: var(--color-bg);
}
.price-cards .tier-pro .price-cards__link:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.price-cards .tier-basic {
  flex: 1 1 20%;
}
.price-cards .tier-basic .price-cards__card {
  background-color: var(--color-faded);
  width: 275px;
}
@media only screen and (min-width: 1800px) {
  .price-cards .tier-basic .price-cards__card {
    width: 500px;
  }
}
.price-cards .tier-basic .price-cards__link {
  background-color: var(--color-primary);
  border: var(--border-thin);
  color: var(--color-bg);
}
.price-cards .tier-basic .price-cards__link:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.price-cards .tier-enterprise {
  flex: 1 1 20%;
}
.price-cards .tier-enterprise .price-cards__card {
  background-color: var(--color-primary);
  color: var(--color-bg);
  width: 275px;
}
@media only screen and (min-width: 1800px) {
  .price-cards .tier-enterprise .price-cards__card {
    width: 500px;
  }
}
.price-cards .tier-enterprise .price-cards__link {
  border: var(--border-thin);
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
}
.price-cards .tier-enterprise .price-cards__link:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.price-cards .tier-enterprise .price-cards__tier-price,
.price-cards .tier-enterprise .price-cards__tier-name {
  color: var(--color-bg);
}

.review__wrapper {
  align-content: center;
  background-color: var(--color-primary);
  display: grid;
  row-gap: var(--space-xl);
  padding: var(--space-xl) var(--space-sm) var(--space-lg);
  text-align: center;
}
@media only screen and (min-width: 1600px) {
  .review__wrapper {
    padding: var(--space-2xl) 0;
    row-gap: var(--space-2xl);
  }
}
.review__header {
  color: var(--color-bg);
  font-size: var(--text-xl);
}
@media only screen and (min-width: 1600px) {
  .review__header {
    margin: auto;
    width: 75%;
  }
}
.review__description {
  color: var(--color-bg);
  margin: auto;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .review__description {
    width: 65%;
  }
}
.review__link {
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
  display: block;
  margin: auto;
  padding: var(--space-sm) var(--space-xl);
  width: max-content;
}
.review__link:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.review-me {
  position: relative;
  overflow-x: hidden;
}
.review-me__wrapper {
  margin-bottom: var(--space-2xl);
}
.review-me__name {
  color: var(--color-bg);
  padding: var(--space-xl) 0;
  text-align: center;
}
@media only screen and (min-width: 900px) {
  .review-me__name {
    left: var(--space-xl);
    padding: 0;
    position: relative;
    text-align: left;
    top: var(--space-2xl);
  }
}
.review-me__name-sml {
  font-size: var(--text-xs);
  font-weight: 400;
}
.review-me__bg1, .review-me__bg2 {
  height: 50%;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}
.review-me__bg1 {
  background-color: var(--color-primary);
  top: 0;
}
.review-me__bg2 {
  background-color: var(--color-bg);
  bottom: 0;
}
.review-me__image-wrapper {
  height: 225px;
  margin: auto;
  position: relative;
  top: 1rem;
  width: 225px;
}
@media only screen and (min-width: 900px) {
  .review-me__image-wrapper {
    left: 25%;
    top: 4.5rem;
    margin: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .review-me__image-wrapper {
    height: 400px;
    width: 400px;
  }
}
.review-me__quote {
  font-style: italic;
  margin-top: 1rem;
  padding: var(--space-lg) var(--space-md);
  text-align: center;
}
@media only screen and (min-width: 900px) {
  .review-me__quote {
    margin-top: 0;
    margin-left: auto;
    text-align: left;
    width: 52%;
  }
}

.link-top {
  margin: auto auto var(--space-2xl);
}
@media only screen and (min-width: 1600px) {
  .link-top {
    margin: var(--space-2xl) auto;
  }
}

/*# sourceMappingURL=main.css.map */
