@import "./variables.scss";

h1 {
  font-size: var(--text-lg);
  font-weight: 700;
  margin-bottom: var(--space-lg);
}

h2 {
  font-size: var(--text-md);
  font-weight: 600;
}

h3 {
  font-size: var(--text-sm);
  font-weight: 600;
}

button {
  font-size: var(--text-md);
  font-weight: 500;
}
