@use "./mixins.scss" as m;
@import "./variables.scss";

// main nav
.nav {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  padding: var(--space-xs) var(--space-lg);

  @media only screen and (min-width: "1150px") {
    padding: var(--space-xs) var(--space-xl);
  }

  &__logo {
    color: var(--color-bg);

    &:hover {
      @include m.hover-primary;
    }
  }

  &__logo,
  &__link {
    display: block;
    padding: var(--space-3xs) var(--space-sm);
  }

  &__items {
    display: none;
    margin-left: auto;
    visibility: hidden;

    @media only screen and (min-width: "768px") {
      display: flex;
      visibility: visible;
    }
  }

  &__item {
    color: var(--color-primary);
    content: "*";

    &__link {
      visibility: hidden;

      @media only screen and (min-width: "768px") {
        visibility: visible;
      }
    }

    &:first-child {
      &:hover {
        @include m.hover-primary;

        .nav__link {
          color: var(--color-off-bg);
        }
      }
    }

    &:last-child {
      background-color: var(--color-bg);
      margin-left: var(--space-xl);

      &:hover {
        @include m.hover-secondary;

        .nav__link {
          color: var(--color-primary);
        }
      }
    }

    .link-login {
      color: var(--color-bg);
    }

    .link-account {
      color: var(--color-secondary);
    }
  }

  &__link {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__mobile {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1.6rem;
    margin-left: auto;
    margin-right: var(--space-sm);
    position: relative;
    width: 1.6rem;
    visibility: visible;

    @media only screen and (min-width: "768px") {
      display: none;
      visibility: hidden;
    }
  }

  &__mobile--span {
    background-color: var(--color-bg);
    display: block;
    height: 0.1rem;
    width: 100%;
  }

  &__mobile--check {
    cursor: pointer;
    height: 1.6rem;
    right: 1.9rem;
    top: 0.8rem;
    position: absolute;
    opacity: 0;
    width: 1.8rem;

    @media only screen and (min-width: "768px") {
      display: none;
      visibility: hidden;
    }

    &:checked ~ .sidebar {
      transform: translateY(0%);
    }
  }
}

// mobile nav
.sidebar {
  background-color: var(--color-bg);
  padding: var(--space-sm) 0;
  position: absolute;
  top: 3.2rem;
  left: 0;
  right: 0;
  transform: translateY(-150%);

  @media only screen and (min-width: "768px") {
    display: none;
    visibility: hidden;
  }

  &__items {
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    width: 40%;
  }

  &__item {
    @include m.link-secondary;
    color: var(--color-bg);
    content: "*";
    margin: var(--space-sm) 0;

    &:hover {
      @include m.hover-secondary;
    }
  }

  &__link {
    display: block;
    padding: var(--space-xs) var(--space-md);
  }
}

// hero background shape
.background {
  position: absolute;
  z-index: -10;
}

.hero {
  padding: 0 var(--space-md);

  @media only screen and (min-width: "1175px") {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  &__image {
    display: none;
    visibility: none;

    @media only screen and (min-width: "1175px") {
      display: inline-block;
      margin-right: var(--space-sm);
      margin-left: var(--space-xl);
      visibility: visible;
    }
  }

  &__content {
    margin: 0 var(--space-lg);
    padding-top: var(--space-xl);
  }

  &__heading {
    margin-bottom: var(--space-sm);
  }

  &__description {
    margin-bottom: var(--space-xl);
  }

  &__cta {
    padding: var(--space-sm) var(--space-xl);
    text-transform: capitalize;

    &:first-of-type {
      @include m.link-secondary;
      margin-right: var(--space-xl);

      &:hover {
        @include m.hover-secondary;
      }
    }

    &:last-of-type {
      display: none;
      visibility: hidden;

      &:hover {
        @include m.hover-primary;
      }

      @media only screen and (min-width: "568px") {
        @include m.link-primary;
        display: inline-block;
        visibility: visible;
      }
    }
  }
}

.main {
  height: 2000px;
  margin-top: var(--space-xl);
  position: relative;
}

.service {
  padding-bottom: var(--space-3xl);
  &__wrapper {
    height: 500px;
    position: relative;

    &:first-of-type,
    &:last-of-type {
      text-align: start;
    }
  }

  &__article {
    align-content: center;
    display: grid;
    height: 100%;
    padding: 0 var(--space-xl);

    @media only screen and (min-width: "900px") {
      width: 60%;
    }
  }

  .middle-article {
    margin-left: auto;
  }

  &__sub-header {
    color: var(--color-primary);
    font-size: var(--text-xs);
    margin-bottom: var(--space-sm);
  }

  &__main-header {
    font-size: var(--text-lg);
    margin-bottom: var(--space-md);
  }

  &__background {
    font-size: var(--text-sm);
    position: absolute;
    z-index: -10;
  }

  .bg-2 {
    right: 0;
    transform: scaleX(-1);
  }
}

// background 2
.background__wrapper {
  bottom: 12%;
  right: 0;
  margin-left: auto;
  position: absolute;
  width: 50%;
  z-index: -10;
}

// pricing section
.pricing {
  background-color: var(--color-faded);
  padding-left: var(--space-xl);
  padding-top: var(--space-md);

  &__article {
    max-width: 75%;
  }

  &__sub-header {
    color: var(--color-primary);
    font-size: var(--text-xs);
    margin-bottom: var(--space-sm);
  }

  &__main-header {
    font-size: var(--text-lg);
    margin-bottom: var(--space-md);
  }

  &__description {
    font-size: var(--text-sm);
    margin-bottom: var(--space-xl);
  }
}

// price-cards
.price-cards {
  height: 500px;
  position: relative;

  &__bg1,
  &__bg2 {
    background-color: var(--color-faded);
    height: 50%;
    padding-top: var(--space-2xl);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10;
  }

  &__bg1 {
    padding-top: var(--space-2xl);
  }

  &__bg1 {
    background-color: var(--color-bg);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: var(--space-2xl) var(--space-xl);
  }

  &__tier {
    margin: auto;
    padding: var(--space-sm) 0;
    width: 100%;
  }

  &__tier-name,
  &__tier-price,
  &__card-header {
    text-align: center;
  }

  &__tier-price,
  &__features {
    margin-bottom: var(--space-sm);
  }

  &__features {
    padding-left: var(--space-lg);
  }

  &__link {
    display: block;
    margin-top: var(--space-lg);
  }

  .tier-pro {
    background-color: var(--color-bg);
    grid-column: span 2;
    height: 100%;
  }

  .tier-basic {
    background-color: var(--color-faded);
    height: 80%;
  }

  .tier-enterprise {
    background-color: var(--color-primary);
    color: var(--color-bg);
    height: 80%;
  }
}
