:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 1rem;
  --text-scale: 1.15;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 1.5)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 1.8)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.3)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 2.8)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 4)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary);
  min-height: 100vh;
  position: relative;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 1rem;
  --text-scale: 1.15;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 1.5)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 1.8)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.3)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 2.8)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 4)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 1rem;
  --text-scale: 1.15;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 1.5)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 1.8)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.3)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 2.8)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 4)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: var(--text-xl);
  font-weight: 700;
}

h2 {
  font-size: var(--text-md);
  font-weight: 600;
}

h3 {
  font-size: var(--text-sm);
  font-weight: 600;
}

a {
  font-size: var(--text-xs);
  font-weight: 600;
}

button,
li,
a {
  border-radius: var(--border-radius-full);
}

button {
  font-size: var(--text-md);
  font-weight: 500;
}

p {
  color: var(--color-off-text);
  font-size: var(--text-sm);
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 1rem;
  --text-scale: 1.15;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 1.5)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 1.8)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.3)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 2.8)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 4)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #6718f2;
  --color-secondary: hsl(262, 89%, 62%);
  --color-faded: hsl(262, 100%, 98%);
  --color-bg: #ffffff;
  --color-off-bg: #f3f1f1;
  --color-text: #000000;
  --color-off-text: hsl(0, 0%, 25%);
  --text-base: 1rem;
  --text-scale: 1.15;
  --text-xs: clamp(
    calc(var(--text-base) * var(--text-scale)),
    1.2vw,
    calc(var(--text-base) * var(--text-scale) * 1.5)
  );
  --text-sm: clamp(
    calc(var(--text-xs) * var(--text-scale)),
    1.5vw,
    calc(var(--text-xs) * var(--text-scale) * 1.8)
  );
  --text-md: clamp(
    calc(var(--text-sm) * var(--text-scale)),
    2.3vw,
    calc(var(--text-sm) * var(--text-scale) * 2.3)
  );
  --text-lg: clamp(
    calc(var(--text-md) * var(--text-scale)),
    3.2vw,
    calc(var(--text-md) * var(--text-scale) * 2.8)
  );
  --text-xl: clamp(
    calc(var(--text-lg) * var(--text-scale)),
    4vw,
    calc(var(--text-lg) * var(--text-scale) * 4)
  );
  --border-radius-full: 0.6rem;
  --border-radius-half: 0.3rem;
  --border-thick: 4px solid var(--color-primary);
  --border-thin: 2px solid var(--color-primary);
  --space-scale: 1em;
  --space-3xs: calc(0.25 * var(--space-scale));
  --space-2xs: calc(0.375 * var(--space-scale));
  --space-xs: calc(0.5 * var(--space-scale));
  --space-sm: calc(0.75 * var(--space-scale));
  --space-md: calc(1 * var(--space-scale));
  --space-lg: calc(1.25 * var(--space-scale));
  --space-xl: calc(3.25 * var(--space-scale));
  --space-2xl: calc(5.25 * var(--space-scale));
  --space-3xl: calc(10 * var(--space-scale));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  padding: var(--space-xs) var(--space-lg);
}
@media only screen and (min-width: 1150px) {
  .nav {
    padding: var(--space-xs) var(--space-xl);
  }
}
.nav__logo {
  color: var(--color-bg);
}
.nav__logo:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.nav__logo, .nav__link {
  display: block;
  padding: var(--space-3xs) var(--space-sm);
}
.nav__items {
  display: none;
  margin-left: auto;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .nav__items {
    display: flex;
    visibility: visible;
  }
}
.nav__item {
  color: var(--color-primary);
  content: "*";
}
.nav__item__link {
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .nav__item__link {
    visibility: visible;
  }
}
.nav__item:first-child:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
.nav__item:first-child:hover .nav__link {
  color: var(--color-off-bg);
}
.nav__item:last-child {
  background-color: var(--color-bg);
  margin-left: var(--space-xl);
}
.nav__item:last-child:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.nav__item:last-child:hover .nav__link {
  color: var(--color-primary);
}
.nav__item .link-login {
  color: var(--color-bg);
}
.nav__item .link-account {
  color: var(--color-secondary);
}
.nav__link {
  font-weight: 600;
  text-transform: capitalize;
}
.nav__mobile {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1.6rem;
  margin-left: auto;
  margin-right: var(--space-sm);
  position: relative;
  width: 1.6rem;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .nav__mobile {
    display: none;
    visibility: hidden;
  }
}
.nav__mobile--span {
  background-color: var(--color-bg);
  display: block;
  height: 0.1rem;
  width: 100%;
}
.nav__mobile--check {
  cursor: pointer;
  height: 1.6rem;
  right: 1.9rem;
  top: 0.8rem;
  position: absolute;
  opacity: 0;
  width: 1.8rem;
}
@media only screen and (min-width: 768px) {
  .nav__mobile--check {
    display: none;
    visibility: hidden;
  }
}
.nav__mobile--check:checked ~ .sidebar {
  transform: translateY(0%);
}

.sidebar {
  background-color: var(--color-bg);
  padding: var(--space-sm) 0;
  position: absolute;
  top: 3.2rem;
  left: 0;
  right: 0;
  transform: translateY(-150%);
}
@media only screen and (min-width: 768px) {
  .sidebar {
    display: none;
    visibility: hidden;
  }
}
.sidebar__items {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  width: 40%;
}
.sidebar__item {
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
  color: var(--color-bg);
  content: "*";
  margin: var(--space-sm) 0;
}
.sidebar__item:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.sidebar__link {
  display: block;
  padding: var(--space-xs) var(--space-md);
}

.background {
  position: absolute;
  z-index: -10;
}

.hero {
  padding: 0 var(--space-md);
}
@media only screen and (min-width: 1175px) {
  .hero {
    display: grid;
    grid-template-columns: 45% 55%;
  }
}
.hero__image {
  display: none;
  visibility: none;
}
@media only screen and (min-width: 1175px) {
  .hero__image {
    display: inline-block;
    margin-right: var(--space-sm);
    margin-left: var(--space-xl);
    visibility: visible;
  }
}
.hero__content {
  margin: 0 var(--space-lg);
  padding-top: var(--space-xl);
}
.hero__heading {
  margin-bottom: var(--space-sm);
}
.hero__description {
  margin-bottom: var(--space-xl);
}
.hero__cta {
  padding: var(--space-sm) var(--space-xl);
  text-transform: capitalize;
}
.hero__cta:first-of-type {
  background-color: var(--color-bg);
  border: var(--border-thin);
  color: var(--color-primary);
  margin-right: var(--space-xl);
}
.hero__cta:first-of-type:hover {
  background-color: var(--color-off-bg);
  transition: all 100ms ease-in-out;
}
.hero__cta:last-of-type {
  display: none;
  visibility: hidden;
}
.hero__cta:last-of-type:hover {
  background-color: var(--color-secondary);
  transition: all 100ms ease-in-out;
}
@media only screen and (min-width: 568px) {
  .hero__cta:last-of-type {
    background-color: var(--color-primary);
    border: var(--border-thin);
    color: var(--color-bg);
    display: inline-block;
    visibility: visible;
  }
}

.main {
  height: 2000px;
  margin-top: var(--space-xl);
  position: relative;
}

.service {
  padding-bottom: var(--space-3xl);
}
.service__wrapper {
  height: 500px;
  position: relative;
}
.service__wrapper:first-of-type, .service__wrapper:last-of-type {
  text-align: start;
}
.service__article {
  align-content: center;
  display: grid;
  height: 100%;
  padding: 0 var(--space-xl);
}
@media only screen and (min-width: 900px) {
  .service__article {
    width: 60%;
  }
}
.service .middle-article {
  margin-left: auto;
}
.service__sub-header {
  color: var(--color-primary);
  font-size: var(--text-xs);
  margin-bottom: var(--space-sm);
}
.service__main-header {
  font-size: var(--text-lg);
  margin-bottom: var(--space-md);
}
.service__background {
  font-size: var(--text-sm);
  position: absolute;
  z-index: -10;
}
.service .bg-2 {
  right: 0;
  transform: scaleX(-1);
}

.background__wrapper {
  bottom: 12%;
  right: 0;
  margin-left: auto;
  position: absolute;
  width: 50%;
  z-index: -10;
}

.pricing {
  background-color: var(--color-faded);
  padding-left: var(--space-xl);
  padding-top: var(--space-md);
}
.pricing__article {
  max-width: 75%;
}
.pricing__sub-header {
  color: var(--color-primary);
  font-size: var(--text-xs);
  margin-bottom: var(--space-sm);
}
.pricing__main-header {
  font-size: var(--text-lg);
  margin-bottom: var(--space-md);
}
.pricing__description {
  font-size: var(--text-sm);
  margin-bottom: var(--space-xl);
}

.price-cards {
  height: 500px;
  position: relative;
}
.price-cards__bg1, .price-cards__bg2 {
  background-color: var(--color-faded);
  height: 50%;
  padding-top: var(--space-2xl);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -10;
}
.price-cards__bg1 {
  padding-top: var(--space-2xl);
}
.price-cards__bg1 {
  background-color: var(--color-bg);
}
.price-cards__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: var(--space-2xl) var(--space-xl);
}
.price-cards__tier {
  margin: auto;
  padding: var(--space-sm) 0;
  width: 100%;
}
.price-cards__tier-name, .price-cards__tier-price, .price-cards__card-header {
  text-align: center;
}
.price-cards__tier-price, .price-cards__features {
  margin-bottom: var(--space-sm);
}
.price-cards__features {
  padding-left: var(--space-lg);
}
.price-cards__link {
  display: block;
  margin-top: var(--space-lg);
}
.price-cards .tier-pro {
  background-color: var(--color-bg);
  grid-column: span 2;
  height: 100%;
}
.price-cards .tier-basic {
  background-color: var(--color-faded);
  height: 80%;
}
.price-cards .tier-enterprise {
  background-color: var(--color-primary);
  color: var(--color-bg);
  height: 80%;
}

/*# sourceMappingURL=main.css.map */
